.form-control{

    border-radius : 0 ;
    font-weight : 500 ;
}
#search-card-section {
    height : 100vh ;  
}

#banner-container{
    background : linear-gradient(60deg,rgba(84,58,183,1),rgba(0,172,193,1)) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height : 70vh; 
}


@media (min-width: 320px) and (max-width : 992px){ 

    #find-btn {
        width: 100% ;
    }
    #banner-container{
        height: 100vh;
    }
    #search-container{
        box-shadow: -5px -5px 0px 0px #ffffff82
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #find-btn{
        width : 20% ;
    }
    #search-container{

        padding-top: 1rem  ;
        padding-bottom : 1rem ;
        z-index: 3;
        width: 60% ;
        box-shadow: -11px -8px 0px 0px #ffffff82
    
    }
    #search-card-section {
        height : 80vh ;  
    }


}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
    
}